{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/my.css' %}" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-static-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="{% url 'main' %}">Project</a>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">{% block title_visible %}Hello, world!{% endblock %}</h1>
    </div>
</div>

<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="list-group">
            <a href="http://127.0.0.1:8000/post/1" class="list-group-item">Post 1</a>
            <a href="http://127.0.0.1:8000/post/2" class="list-group-item">Post 2</a>
            <a href="http://127.0.0.1:8000/post/3" class="list-group-item">Post 3</a>
          </div>
</div><!--/span-->
<div>
    <div class="container">
        {% block body %}{% endblock %}
</div>

    <hr>

    <footer>
        <p>&copy; BMSTU 2016</p>
    </footer>
</div>


<script src="{% static 'js/jquery-3.1.1.slim.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>